body {
	color: #333;
	scroll-behavior: smooth;
	min-height: 100%;
	/* Font Family taken from https://matt-rickard.com */
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Helvetica Neue,
		Arial,
		Noto Sans,
		sans-serif,
		Apple Color Emoji,
		Segoe UI Emoji,
		Segoe UI Symbol,
		Noto Color Emoji;
	overflow-x: hidden;
	background: whitesmoke;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Markdown */

.custom-md a {
	text-decoration: underline;
	text-decoration-color: rgba(0, 0, 0, 0.6);
	text-decoration-thickness: 0.5px;
}

/* Override for Tailwind Plugin */

/* Remove "" from blockquotes */
.prose
	:where(blockquote p:first-of-type):not(
		:where([class~='not-prose'] *)
	)::before {
	content: none !important;
}

.font-mono {
	/* Font Family taken from https://matt-rickard.com */
	font-family:
		ui-monospace,
		SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		Liberation Mono,
		Courier New,
		monospace;
}
