---
import '../styles/global.css';
import NavBar from "./components/NavBar.astro"

const { title = "Kunal's Site" } = Astro.props
---

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
</head>

<body>
    <div class="px-4 sm:px-8 md:px-24">
        <NavBar />
        <main class="container mx-auto max-w-screen-sm">
            <slot />
        </main>
        <footer class="mt-20"></footer>
    </div>
</body>

</html>