---
import Base from './Base.astro'
const { content } = Astro.props
---

<Base title={"Kunal's | " + content.title}>
	<div class="custom-md">
		<!-- Uncomment this to make all links open in new tab -->
		<!-- <base target="_blank"> -->
		<h1 class="text-2xl mb-6">{content.title}</h1>
		<article class="space-y-4 prose">
			<slot />
		</article>
	</div>
</Base>
